* {
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    border: 10px solid;
    border-radius: 10px;
}
#topSection {
    width: 100%;
    height: 33%;
    background-image: url("saratoga1.jpg");
    background-size: cover;
    background-position: center 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#middleSection {
    width: 33%;
    height: 33%;
}
#bottomSection {
    width: 100%;
    height: 33%;
}
#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 10px;
}
#headerDiv h1 {
    background-color: rgb(123, 123, 211);
    border-radius: 5px;
}
#headerDiv h2 {
    background-color: rgb(97, 97, 170);
    border-radius: 5px;
}
.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}

